<nav id="cd-vertical-nav">
	<ul>
		<li>
			<a href="#buttons" data-number="1">
				<span class="cd-dot"></span>
				<span class="cd-label">Basic Elements</span>
			</a>
		</li>
		<li>
			<a href="#navigation" data-number="2">
				<span class="cd-dot"></span>
				<span class="cd-label">Navigation</span>
			</a>
		</li>
		<li>
			<a href="#notifications" data-number="3">
				<span class="cd-dot"></span>
				<span class="cd-label">Notifications</span>
			</a>
		</li>
		<li>
			<a href="#footers" data-number="4">
				<span class="cd-dot"></span>
				<span class="cd-label">Footers</span>
			</a>
		</li>
		<li>
			<a href="#typography" data-number="5">
				<span class="cd-dot"></span>
				<span class="cd-label">Typography</span>
			</a>
		</li>
		<li>
			<a href="#contentAreas" data-number="6">
				<span class="cd-dot"></span>
				<span class="cd-label">Content Areas</span>
			</a>
		</li>
		<li>
			<a href="#cards" data-number="7">
				<span class="cd-dot"></span>
				<span class="cd-label">Cards</span>
			</a>
		</li>
		<li>
			<a href="#morphingCards" data-number="8">
				<span class="cd-dot"></span>
				<span class="cd-label">Morphing Cards</span>
			</a>
		</li>
		<li>
			<a href="#javascriptComponents" data-number="9">
				<span class="cd-dot"></span>
				<span class="cd-label">Javascript</span>
			</a>
		</li>
	</ul>
</nav>
