.btn,
.navbar .navbar-nav .nav-item .nav-link.btn{
    border: none !important;
    border-radius: $border-radius-base !important;
    position: relative !important;
    padding: 12px 30px !important;
    margin: 10px 1px !important;
    font-size: $mdb-btn-font-size-base !important;
    font-weight: 400 !important;
    text-transform: uppercase !important;
    letter-spacing: 0 !important;
    will-change: box-shadow, transform !important;
    transition: box-shadow 0.2s $mdb-animation-curve-fast-out-linear-in,
    background-color 0.2s $mdb-animation-curve-default !important;

    &::-moz-focus-inner {
    border: 0 !important;
    }

    &,
    &.btn-default{
        @include btn-styles($gray-light);
    }

    &.btn-primary{
      @include btn-styles($brand-primary);
    }
    &.btn-info{
      @include btn-styles($brand-info);
    }
    &.btn-success{
      @include btn-styles($brand-success);
    }
    &.btn-warning{
      @include btn-styles($brand-warning);
    }
    &.btn-danger{
      @include btn-styles($brand-danger);
    }
    &.btn-rose{
      @include btn-styles($brand-rose);
    }
    &.btn-white{
        &,
        &:focus,
        &:hover{
            background-color: $white-color !important;
            color: $gray-light !important;
        }
        &.btn-simple{
            color: $white-color !important;
            background: transparent !important;
            box-shadow: none !important;
        }
    }

    // social buttons
    &.btn-facebook {
    	@include social-buttons-color($social-facebook);
    }
    &.btn-twitter {
    	@include social-buttons-color($social-twitter);
    }
    &.btn-pinterest {
    	@include social-buttons-color($social-pinterest);
    }
    &.btn-google {
    	@include social-buttons-color($social-google);
    }
    &.btn-linkedin {
    	@include social-buttons-color($social-linkedin);
    }
    &.btn-dribbble {
    	@include social-buttons-color($social-dribbble);
    }
    &.btn-github {
    	@include social-buttons-color($social-github);
    }
    &.btn-youtube {
    	@include social-buttons-color($social-youtube);
    }
    &.btn-instagram {
    	@include social-buttons-color($social-instagram);
    }
    &.btn-reddit {
    	@include social-buttons-color($social-reddit);
    }
    &.btn-tumblr {
    	@include social-buttons-color($social-tumblr);
    }
    &.btn-behance {
    	@include social-buttons-color($social-behance);
    }

    &,
    &:focus,
    &:active,
    &:active:focus{
      outline: 0 !important;
      border: 0 !important;
    }

    &.btn-round{
      border-radius: $border-radius-extreme !important;
    }

    &:not(.btn-just-icon):not(.btn-fab){
      .fa{
          font-size: 18px !important;
          margin-top: -2px !important;
          position: relative !important;
          top: 2px !important;
      }
    }


    &.btn-fab {
        // see above for color variations
        border-radius: 50% !important;
        font-size: $mdb-btn-fab-font-size !important;
        height: $mdb-btn-fab-size !important;
        margin: auto;
        min-width: $mdb-btn-fab-size !important;
        width: $mdb-btn-fab-size !important;
        padding: 0 !important;
        overflow: hidden !important;
        position: relative !important;
        line-height: normal !important;

        .ripple-container {
          border-radius: 50% !important;
        }

        &.btn-fab-mini,
        .btn-group-sm & {
            height: $mdb-btn-fab-size-mini !important;
            min-width: $mdb-btn-fab-size-mini !important;
            width: $mdb-btn-fab-size-mini !important;

            &.material-icons {
                top: ($mdb-btn-icon-size-mini - $mdb-btn-fab-font-size) / 2 !important;
                left: ($mdb-btn-icon-size-mini - $mdb-btn-fab-font-size) / 2 !important;
            }

            .material-icons{
                font-size: $mdb-btn-icon-size-mini !important;
            }
        }

        i.material-icons {
          position: absolute !important;
          top: 50% !important;
          left: 50% !important;
          transform: translate(-($mdb-btn-fab-font-size / 2), -($mdb-btn-fab-font-size / 2)) !important;
          line-height: $mdb-btn-fab-font-size !important;
          width: $mdb-btn-fab-font-size !important;
          font-size: $mdb-btn-fab-font-size !important;
        }
    }

    // Size variations
    &.btn-lg,
    .btn-group-lg & {
        font-size: $mdb-btn-font-size-lg !important;
        padding: 18px 36px !important;
    }
    &.btn-sm,
    .btn-group-sm & {
        padding: 5px 20px !important;
        font-size: $mdb-btn-font-size-sm !important;
    }


    &.btn-just-icon{
        font-size: 20px !important;
        padding: 12px 12px !important;
        line-height: 1em !important;

        i.material-icons{
            width: 20px !important;
        }
        &.btn-lg{
            font-size: 22px !important;
            padding: 13px 18px !important;
        }
    }
    // Align icons inside buttons with text
    .material-icons{
        vertical-align: middle !important;
        font-size: $mdb-btn-icon-size-mini !important;
        top: -1px !important;
        position: relative !important;
    }

    .caret{
        margin-left: 3px !important;
    }
}


.navbar{
    .navbar-nav{
        .nav-item{
            .nav-link{
                &.btn{
                    margin-top: 2px;
                    margin-bottom: 2px;

                    &.btn-fab{
                        margin: 5px 2px;
                    }
                }
                &:not(.btn){
                    .material-icons{
                        margin-top: -3px;
                        top: 0px;
                        position: relative;
                        margin-right: 3px;
                    }
                }
                .profile-photo{
                    margin: 5px 2px;
                }
            }
        }
    }
}

.navbar-default:not(.navbar-transparent) .navbar-nav .nav-item{
    .nav-link.btn{
        &.btn-white.btn-simple{
            color: $gray;
        }
    }
}

// btn-group variations
.btn-group,
.btn-group-vertical {

  position: relative;
  //border-radius: 2px;
  margin: 10px 1px;

  .dropdown-menu {
    border-radius: 0 0 $border-radius-base $border-radius-base !important;
  }

  &.btn-group-raised {
    @include shadow-2dp();
  }

  & .btn + .btn,
  .btn,
  .btn:active,
  .btn-group {
    margin: 0;
  }
}

.close{
    font-size: inherit;
    color: $white-color;
    opacity: .9;
    text-shadow: none;

    &:hover,
    &:focus{
        opacity: 1;
        color: $white-color;
    }

    i{
        font-size: 20px;
    }
}


// .btn:not(.btn-just-icon):not(.btn-fab) .fa{
//     font-size: 18px !important;
//     margin-top: -2px !important;
//     position: relative !important;
//     top: 2px !important;
// }
