.dropdown-menu {
    border: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);

    .divider {
        background-color: rgba(0, 0, 0, .12);
    }


    .dropdown-item{
        font-size: $mdb-dropdown-font-size;
        padding: 10px 20px;
        margin: 0 5px;
        border-radius: $border-radius-small;

        @include transition($fast-transition-time, $transition-linear);

        &:hover,
        &:focus {
          @include shadow-small-color($brand-primary);
          background-color: $brand-primary;
          color: $white-color;
        }
    }
    .dropdown-header{
        display: block;
        padding: 3px 20px;
        font-size: 12px;
        line-height: 1.42857143;
        color: #777;
        white-space: nowrap;
    }

    &.dropdown-with-icons{
        .dropdown-item{
            padding: 12px 20px 12px 12px !important;

            .material-icons{
                vertical-align: middle;
                font-size: 24px;
                position: relative;
                margin-top: -4px;
                top: 1px;
                margin-right: 12px;
                opacity: .5;
            }

            position: relative !important;

            &:hover,
            &:focus,
            &:active {
                background-color: $brand-primary;
                color: $white-color;
            }
        }
    }





    .divider{
        height: 1px;
        overflow: hidden;
        margin: 5px 0;
        background-color: rgba(0, 0, 0, 0.12);
    }

    .navbar &,
    .navbar.navbar-default &{
        .nav-item{
            .nav-link:hover,
            .nav-link:focus{
                color: $white-color;
                background-color: $brand-primary;

                @include shadow-small-color($brand-primary);
            }
        }
    }

}

.dropdown .dropdown-menu,
.dropup:not(.bootstrap-select) .dropdown-menu,
.dropdown-menu.bootstrap-datetimepicker-widget{
    @include transition($fast-transition-time, $transition-linear);
    @include transform-translate-y(-20px);
    visibility: hidden;
    display: block;
    opacity: 0;
}

.dropdown.show .dropdown-menu,
.dropdown-menu.bootstrap-datetimepicker-widget.show{
    opacity: 1;
    visibility: visible;
    @include transform-translate-y(1px);
}

.dropup:not(.bootstrap-select){
    .dropdown-menu{
        @include transform-translate-y(20px);
    }

    &.show{
        .dropdown-menu{
            opacity: 1;
            visibility: visible;
            @include transform-translate-y(-2px);
        }
    }
}
